# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# DEPENDENCIE
/node_modules
/.pnp
.pnp.js

# PRODUCTION BUILD
/build

# LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# LOCAL ENV FILES
.env.local
.env.development.local
.env.production.local

# MISC
.DS_Store
